body{
  background-color: hsl(204, 43%, 93%);
}

main{
  font-family: 'Karla', sans-serif;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 15%;
  width: 40%;
  height: 40%;
}

/* -- top section styling starts here -- */

#top{
  justify-self: center; 
  padding: 10px 20px 10px 15px;
  background-color: white;
  padding-left: 2em;
}

#top h2{
  font-weight: 700;
  font-size: 27px;
  color: hsl(179, 62%, 43%);
}

#top h3{
  font-weight: 700;
  font-size: 18px;
  color: hsl(71, 73%, 54%);
}

#top p{
  font-size: 16px;
  color: #6a6c6d;
}

/* -- top section styling ends here -- */


/* -- bottom left section styling starts here -- */

#left{
  background-color: hsl(179, 62%, 43%);
  width: 20%;
  height: 20%;
  align-self: flex-start;
  flex-grow: 1;
  color: hsl(204, 43%, 93%);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#left h2{
  font-weight: 700;
  font-size: 20px;
  margin-top: 40px;
  margin-left: 2em;
}

#left p{
  margin-left: 40px;
  margin-right: 2.5em;
  margin-top: 1.5em;
  margin-bottom: 2em;
}
#rest{  
  margin-top: 4px;
  display: block;
}

#price{
  font-weight: 700;
  font-size: 30px;
  margin-right: 5px;
  display: inline-block; 
}

#per{
  /* display: inline-block; */ 
  color: rgba(243, 229, 229, 0.5);
}

section button{
  font-size: 20px;
  /* position: relative;
  width: 40%;
  height: 50%; */
  /* margin-left: 40px;  */ 
  align-self: center;
  
}

/* -- bottom left section styling ends here -- */



/* -- bottom right section styling starts here -- */

#right{
  background-color: hsla(179, 62%, 43%, 0.8);
  width: 20%;
  height: 20%;
  align-self: flex-end;
  flex-grow: 1;
  color: hsl(204, 43%, 93%);
}

#right h2{
  margin-top: 2em;
  margin-left: 2em;
  font-size: 20px;
}



#right ul{
  font-size: 16px;
  list-style-type: none;
  margin-bottom: 2rem;
}

/* -- bottom right section styling ends here -- */